:root{

}

        .grid.oneByFour{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap:2rem;
            padding:5%;
        }

        .grid-item{
            border-radius: 1rem;
            aspect-ratio: 1.5/1;
            color:var(--global-color-white);
            display: grid;
            place-items: center;
            background-color: var(--global-color-primary);
        }

        .grid.oneByFour.typeOne{
            position: relative;
            gap:2rem;
            margin:0 5%;
            border-radius: 1rem;
            grid-template-columns: repeat(4, 1fr);
            background-color: rgba(126, 24, 146, 0.466);
        }

        .grid.oneByFour.typeOne::before{
            content: '';
            position: absolute;
            border-radius: 1rem;
            top:0;
            left:0;
            width: 100%;
            height: 100%;
            background-image: url(./Assets/Images/guy-shows-document-girl-group-young-freelancers-office-have-conversation-working-1.jpg);
            background-position: center center;
            background-repeat: none;
            background-color: rgba(126, 24, 146, 0.096);
            background-blend-mode: multiply;
            z-index: -1;
            opacity: .4;
        }

        .typeOne .grid-item{
            border-radius: 0;
            background-color: transparent;
            text-align: center;
        }

        div.grid-item p{
            height: 4rem; /*Keep lineHeight so as to maintain the aesthetic of the layout*/
        }

        .sectionCentered{
            display: grid;
            place-items:center;
            padding:1% 4%;
        }

        .sectionCentered.button{
            padding:5% 4%;
        }

        .default-section.first{
            padding:5% 15%;
        }

        .section{
            display: flex;
            margin:5% 8%;
            line-height: 1.5rem;
            padding:5%;
            background-color: purple;
            border-radius: 1rem;
            color:white;
        }

        .section div{
            flex-basis: 50%;
        }

        .section div *:not(button, li){
            padding:.5rem 0rem;
        }

        .section div button{
            margin:1rem 0;
        }

        .thePremiumReach{
            background-color: rgb(243, 243, 243);
            text-align: center;
            padding:2rem 2rem;
        }

        .thePremiumReach .grid{
            display: grid;
            gap:1rem;
            grid-template-columns: repeat(4, 1fr);
        }

        .thePremiumReach .grid-item{
            background: none;
            border-radius: 0;
        }

        /*Set the list style for this li to an svg of circled check mark*/
        .section div li{
            list-style: circle;
        }

        p{
            line-height: 2rem;
        }

        .onlineClassPackage{
            text-align: center;
            padding:5% 15%;
        }

        .twoCards{
            display: grid;
            gap:2rem;
            grid-template-columns: repeat(2, 1fr);
        }

        .card{
            background-color: purple;
            border-radius: 1rem;
            padding:2rem 1rem;
            margin:2rem 0rem;
            color:white;
        }

        .card *{
            line-height: 1.5rem;
        }

        .card ul, .card h1{
            padding:1rem 0;
        }

        .card ul:nth-child(odd){
            border:1px solid white;
            border-left:none;
            border-right:none;
            margin:0 4rem;
        }

        .groupCoachingSection{
            padding:5%;
            background-color: purple;
            display: flex;
            color:white;
            justify-content: space-between;
        }

        .item1{
            color:black;
        }

        .groupCoachingSection div{
            flex-basis:48%;
        }

        .subCardsLayout{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap:1rem;
        }

        .item1{
            padding:1rem;
            line-height: 2rem;
            background-color: white;
        }




        /*TABLET DEVICES*/
        @media (max-width:1024px) {
            .grid.oneByFour{
            grid-template-columns: repeat(2, 1fr);
            }

            .grid.oneByFour.typeOne{
                gap:0rem;
                border-radius: 1rem;
                margin:0 5%;
                grid-template-columns: repeat(1, 1fr);
            }

            .typeOne .grid-item{
                border-radius: 0;
                background-color: transparent;
                text-align: center;
                aspect-ratio: 4/1;
            }

            .thePremiumReach .grid{
                gap:1rem;
                grid-template-columns: repeat(2, 1fr);
            }

            .onlineClassPackage{
                text-align: center;
                padding:4%;
            }

        }

        /*MOBILE DEVICES*/
        @media (max-width:768px) {
            .section{
                flex-direction: column-reverse;
            }

            .onlineClassPackage{
                text-align: center;
                padding:5%;
            }

            .twoCards{
                gap:2rem;
                grid-template-columns: repeat(1, 1fr);
                }

            .card ul:nth-child(odd){
                margin:0 4rem;
                }

            .groupCoachingSection{
                padding:5%;
                background-color: purple;
                display: flex;
                flex-direction: column;
                color:white;
                justify-content: space-between;
            }


        }